<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/admin.css' />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcss.com/jquery/3.0.0/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/javascripts/admin.js"></script>
  </head>
  <style>
    .a{
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: wrap;
      word-break:break-all;
       max-width: 300px;
    }
       .neirong{
         height: 100%;
         max-height: 200px;
         overflow: hidden;
       }

  .pull-right {
      float:none !important;
  }
  button{
    border: 0;
  }
  </style>
  <body>

    <nav class="navbar navbar-default navbar-static-top">
       <div class="container-fluid">
       	<!-- Brand and toggle get grouped for better mobile display -->
   		<div class="navbar-header">
   			<button type="button" class="navbar-toggle navbar-toggle-sidebar collapsed">
   			MENU
   			</button>
   			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
   				<span class="sr-only">Toggle navigation</span>
   				<span class="icon-bar"></span>
   				<span class="icon-bar"></span>
   				<span class="icon-bar"></span>
   			</button>
   			<a class="navbar-brand" href="#">
   				Administrator
   			</a>
   		</div>

   		<!-- Collect the nav links, forms, and other content for toggling -->
   		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

   			<ul class="nav navbar-nav navbar-right">
   				<li class="dropdown ">
   					<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
   						<%= admin %>
   						<span class="caret"></span></a>
   						<ul class="dropdown-menu" role="menu">
   							<li class="dropdown-header">SETTINGS</li>
   							<li class=""><a href="#">Other Link</a></li>
   							<li class=""><a href="#">Other Link</a></li>
   							<li class=""><a href="#">Other Link</a></li>
   							<li class="divider"></li>
   							<li><a href="#">Logout</a></li>
   						</ul>
   					</li>
   				</ul>
   			</div><!-- /.navbar-collapse -->
   		</div><!-- /.container-fluid -->
   	</nav>  	<div class="container-fluid main-container">
     		<div class="col-md-2 sidebar">
     			<div class="row">
   	<!-- uncomment code for absolute positioning tweek see top comment in css -->
   	<div class="absolute-wrapper"> </div>
   	<!-- Menu -->
   	<div class="side-menu">
   		<nav class="navbar navbar-default" role="navigation">
   			<!-- Main Menu -->
   			<div class="side-menu-container">
   				<ul class="nav navbar-nav">
   					<li class="active"><a href="admin?a=1&admin=<%= admin %>" class=" admin-user0"><span class="glyphicon glyphicon-dashboard"></span>首页</a></li>
   					<li><a href="admin?a=2&admin=<%= admin %>"><span class="glyphicon glyphicon-user"></span> 用户管理</a></li>
   					<li><a href="admin?a=3&admin=<%= admin %>"><span class="glyphicon glyphicon-user"></span> 管理员管理</a></li>

   					<!-- Dropdown-->
   					<li class="panel panel-default" id="dropdown">
   						<a data-toggle="collapse" href="#dropdown-lvl1">
   							<span class="glyphicon glyphicon-cloud"></span> Sub Level <span class="caret"></span>
   						</a>

   						<!-- Dropdown level 1 -->
   						<div id="dropdown-lvl1" class="panel-collapse collapse">
   							<div class="panel-body">
   								<ul class="nav navbar-nav">
   									<li><a href="#">Link</a></li>
   									<li><a href="#">Link</a></li>
   									<li><a href="#">Link</a></li>

   									<!-- Dropdown level 2 -->
   									<li class="panel panel-default" id="dropdown">
   										<a data-toggle="collapse" href="#dropdown-lvl2">
   											<span class="glyphicon glyphicon-off"></span> Sub Level <span class="caret"></span>
   										</a>
   										<div id="dropdown-lvl2" class="panel-collapse collapse">
   											<div class="panel-body">
   												<ul class="nav navbar-nav">
   													<li><a href="#">Link</a></li>
   													<li><a href="#">Link</a></li>
   													<li><a href="#">Link</a></li>
   												</ul>
   											</div>
   										</div>
   									</li>
   								</ul>
   							</div>
   						</div>
   					</li>

   					<li><a href="#"><span class="glyphicon glyphicon-signal"></span> Link</a></li>

   				</ul>
   			</div><!-- /.navbar-collapse -->
   		</nav>

   	</div>
   </div>
 </div>
