<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知晓</title>
    <%- include head %>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="/javascripts/index.js" charset="utf-8"></script>
    <style media="screen">
      .pointer_nomal{
        cursor:auto;
      }
      .cont{
        margin:10px auto;
        background-color:#fff;
        padding:10px 20px;
        border-radius:10px;
        box-shadow:0 0 15px;
        word-wrap:break-word;
        word-break:normal;
      }
      .page{
        background-color:#fff;
        border-radius:10px;
        box-shadow:0 0 15px;
        margin:10px auto;
      }
      .page_ul{
        margin:0;
      }
      .cursor_auto{
        cursor:auto;
      }
      .margin_{
        margin:20px 0 15px;
        background-color: #fff;
        border-radius:10px;
        box-shadow:0 0 15px;
      }
    </style>
  </head>
  <body>
    <%- include nav %>
    <div class="con">
        <div class="container">
          <div class="row col-md-10 col-md-offset-1">

            <div class="right col-sm-9">
                <% data.forEach(function(ele,index){ %>

                  <div class="cont row">
                    <div class="">
                      <h4><a href="/show-xq?id=<%= ele._id %>" style="font-size:20px;"><%= ele.user_quiz %></a></h4>
                    </div>
                    <div class="">
                      <span class="btn btn-warning btn-xs pointer_nomal">提问者:<%= ele.user_id %></span>&nbsp;&nbsp;
                      <span class="btn btn-info btn-xs pointer_nomal">分类:<%= ele.user_label %></span>&nbsp;&nbsp;
                      <span class="btn btn-inverse btn-xs pointer_nomal">时间:<%= moment.tz(ele.user_time,'Asia/Shanghai').format('YYYY-MM-DD HH:mm:ss') %></span>
                      <span class="btn btn-primary btn-xs pointer_nomal">标题:<%= ele.user_tip %></span>&nbsp;&nbsp;
                    </div>
                    <div class="">
                      answer
                    </div>
                  </div>

                  <% }) %>
                  <div class="text-center margin_">
                      <ul class="pagination page_ul">
                        <li style="<% if(page-1<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>">
                          <a href="/?page=<%= page-1 %>" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                          </a>
                        </li>
                        <li style="<% if(page-2<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>"><a href="/?page=<%= page-2 %>"><%= page-2 %></a></li>
                        <li style="<% if(page-1<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>"><a href="/?page=<%= page-1 %>"><%= page-1 %></a></li>
                        <li class="active"><a><%= page %></a></li>
                        <li style="<% if(pageCount-page<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>"><a href="/?page=<%= page+1 %>"><%= page+1 %></a></li>
                        <li style="<% if(pageCount-page-1<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>"><a href="/?page=<%= page+2 %>"><%= page+2 %></a></li>
                        <li style="<% if(pageCount-page-1<=0){%> <%= 'display:none' %> <%}else{ %><%= '' %><%}%>">
                          <a href="/?page=<%= page+1 %>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                          </a>
                        </li>
                        <li class="active">
                          <a>
                            <span>总页数/</span>
                            <%=  pageCount %>
                          </a>
                        </li>
                        <li>
                          <div class="dropup">
                            <button class="btn btn-success dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                              转跳到
                              <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                              <%for(var i = 0;i < pageCount;i++){%>
                                <li><a href="/?page=<%=i+1%>"><%=i+1%></a></li>
                              <%}%>
                            </ul>
                          </div>
                        </li>
                      </ul>
                  </div>

            </div>
            <div class="left col-sm-3 hidden-xs">
              <div class="left_all">
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>新闻</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>生活</a></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-bicycle" aria-hidden="true"></i>娱乐</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-flag-checkered" aria-hidden="true"></i>国际</a></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-coffee" aria-hidden="true"></i></i>休闲</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>健康</a></span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include footer %>

<script type="text/javascript">


</script>


  </body>
</html>
