<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>知晓</title>
    <%- include head %>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <script src="https://cdn.bootcss.com/moment.js/2.17.1/moment.min.js"></script>
    <script src="/javascripts/index.js" charset="utf-8"></script>

  </head>
  <body>
    <%- include nav %>
    <div class="con">
        <div class="container">
          <div class="row col-md-10 col-md-offset-1">
            <div class="right col-sm-9">
                <% data.forEach(function(ele,index){ %>
                  <div class="row" style="margin:10px auto;background-color:#fff;padding:10px 20px;border-radius:10px;box-shadow:0 0 15px;word-wrap:break-word; word-break:normal;">
                    <p><h4><a href="/show-xq?id=<%= ele._id %>" style="font-size:20px;"><%= ele.user_quiz %></a></h4></p>
                  <span class="btn btn-warning btn-xs">提问者:<%= ele.user_id %></span>&nbsp;&nbsp;
                  <span class="btn btn-info btn-xs">分类:<%= ele.user_label %></span>&nbsp;&nbsp;
                  <span class="btn btn-inverse btn-xs">时间:<%= moment(ele.user_time).format('YYYY-MM-DD h:mm:ss a') %></span>
                  <span class="btn btn-primary btn-xs">标题:<%= ele.user_tip %></span>&nbsp;&nbsp;
                  </div>
                <% }) %>

            </div>
            <div class="left col-sm-3 hidden-xs">
              <div class="left_all">
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-newspaper-o" aria-hidden="true"></i>新闻</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-cutlery" aria-hidden="true"></i>生活</a></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-bicycle" aria-hidden="true"></i>娱乐</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-flag-checkered" aria-hidden="true"></i>国际</a></span>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-coffee" aria-hidden="true"></i></i>休闲</a></span>
                    </div>
                    <div class="col-sm-5 x_">
                      <span><a href="#"><i class="fa fa-heart" aria-hidden="true"></i>健康</a></span>
                    </div>
                  </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <%- include footer %>



  </body>
</html>
