<!DOCTYPE html>
<head>
  <title><%= title %></title>

    <%- include head %>

  <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <script src="/javascripts/jquery-3.0.0.min.js"></script>
<style>

        html,body{
            height: 100%;

            }
            .btn-select {
                position: relative;
                padding: 0;
                min-width: 236px;
                width: 100%;
                border-radius: 0;
                margin-bottom: 20px;
            }

            .btn-select .btn-select-value {
                padding: 6px 12px;
                display: block;
                position: absolute;
                left: 0;
                right: 34px;
                text-align: left;
                text-overflow: ellipsis;
                overflow: hidden;
                border-top: none !important;
                border-bottom: none !important;
                border-left: none !important;
            }

            .btn-select .btn-select-arrow {
                float: right;
                line-height: 20px;
                padding: 6px 10px;
                top: 0;
            }

            .btn-select ul {
                display: none;
                background-color: white;
                color: black;
                clear: both;
                list-style: none;
                padding: 0;
                margin: 0;
                border-top: none !important;
                position: absolute;
                left: -1px;
                right: -1px;
                top: 33px;
                z-index: 999;
            }

            .btn-select ul li {
                padding: 3px 6px;
                text-align: left;
            }

            .btn-select ul li:hover {
                background-color: #f4f4f4;
            }

            .btn-select ul li.selected {
                color: white;
            }

            /* info Start */
            .btn-select.btn-info<style>:hover, .btn-select.btn-info:active, .btn-select.btn-info.active {
                border-color: #46b8da;
            }

            .btn-select.btn-info ul li.selected {
                background-color: #46b8da;
                color: white;
            }

            .btn-select.btn-info ul {
                border: #46b8da 1px solid;
            }

            .btn-select.btn-info .btn-select-value {
                background-color: #5bc0de;
                border: #46b8da 1px solid;
            }

            .btn-select.btn-info:hover, .btn-select.btn-info.active {
                background-color: #269abc;
            }
      /* info End */
      .mysel{
        width: 100%;
        padding-top:5%;
        max-width: 500px;
        opacity: 0.9;
      }
      #mysel{

        height: 100%;
        background: url("/images/question.jpg") no-repeat 50% 10%;
        background-size: cover;
        padding: 0 0 325px;
      }

      textarea{
        width: 100%;
        min-width: 250px;
        border-radius: 5px;
        margin-bottom: 20px;
        max-width: 500px;
      }
      .may{
        max-width:350px;
      }
      .tip_qz{
        height: 35px;
        border-radius: 3px;
      }
      .btn_qz{
        width: 100%;
        min-width: 250px;
        max-width: 500px;
        border-radius: 3px;
        background:#fff;
        }

        .btn_qz:hover{
            background: #5bc0de;
            border-radius: 3px;
          }

        .reglog{
          width: 100%;
          position: absolute;
          max-width:600px;
          margin-left: -22px;
          color: rgb(178, 62, 184);
          font-weight: bold;
          font-size: 42px;
          font-family: "微软雅黑";

          text-align: center;
        }
        .reglog a{
          font-size: 50px;
          color: blue;
          text-shadow: 3px 1px 2px #fff;
          text-decoration: none;
        }
        .reglog a:hover{
          color: rgb(26, 140, 164);
        }
        .h4_qz{
          font-size: 18px;
        }
        </style>
</head>

<html>
    <body>
      <%- include nav %>
      <div id="mysel">
        <div class=" container mysel">
      <% if(name){ %>
          <form class="" action="/mess" method="post">
            <input type="hidden" name="user_id" value="<%= name %>"><br><br>
                    <h4 class="h4_qz">标题:</h4>
                    <input type="text" required maxlength="30" name="user_tip" class="tip_qz col-md-10"><br><br>
                    <h4 class="h4_qz">问题类型:</h4>
                    <div class="may">
                      <a class="btn btn-info btn-select text-center " >
                          <input type="hidden" class="btn-select-input" id="" name="user_label" value="HTML5" />
                          <span class="btn-select-value">HTML5</span>
                          <span class='btn-select-arrow glyphicon glyphicon-chevron-down'></span>
                          <ul>
                              <li name="user_label" value="CSS3">CSS3</li>
                              <li name="user_label" value="Javascript" name="user_label">Javascript</li>
                              <li name="user_label" value="jQuery" name="user_label">jQuery</li>
                              <li name="user_label" value="Python" name="user_label">Python</li>
                              <li name="user_label" value="JS框架" name="user_label">JS框架</li>
                              <li name="user_label" value="React" name="user_label">React</li>
                              <li name="user_label" value="UI框架" name="user_label">UI框架</li>
                              <li name="user_label" value="MongoDB" name="user_label">MongoDB</li>
                              <li name="user_label" value="Express" name="user_label">Express</li>
                              <li name="user_label" value="Node.js" name="user_label">Node.js</li>

                          </ul>
                      </a>
                    </div>
                    <h4 class="h4_qz">您的提问:</h4>
                    <textarea name="user_quiz" id="ques" required rows="10" cols="80"  maxlength="240"></textarea><br>
                    <button type="submit"  class="btn_qz">提交</button>

              </form>
              <% }else{ %>
                  <div class="reglog">
                      <p style="font-size:50px">Sorry, you are not logged in yet</p>
                      Please<br>
                      <a href="/login_cg">Login</a>
                      <br>or<br>
                      <a href="/input_cg">Register</a>
                  </div>
                <% } %>
            </div>


      </div>

      <script>

        $(document).on('click', '.btn-select', function (e) {
            e.preventDefault();
            var ul = $(this).find("ul");
            if ($(this).hasClass("active")) {
                if (ul.find("li").is(e.target)) {
                    var target = $(e.target);
                    target.addClass("selected").siblings().removeClass("selected");
                    var value = target.html();
                    $(this).find(".btn-select-input").val(value);
                    $(this).find(".btn-select-value").html(value);
                }
                ul.hide();
                $(this).removeClass("active");
            }
            else {
                $('.btn-select').not(this).each(function () {
                    $(this).removeClass("active").find("ul").hide();
                });
                ul.slideDown(300);
                $(this).addClass("active");
            }
        });

        $(document).on('click', function (e) {
            var target = $(e.target).closest(".btn-select");
            if (!target.length) {
                $(".btn-select").removeClass("active").find("ul").hide();
            }
        });



      </script>
      <%- include footer %>
    </body>

</html>
