<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/show-xq.css">
    <script src="/javascripts/jquery-3.0.0.min.js" charset="utf-8"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js"></script>
    <!-- <script src="/javascripts/socket.io.slim.js"></script> -->
    <script src="/javascripts/moment.min.js" charset="utf-8"></script>

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script type="text/javascript">
      $(function(){
        $('.btn').click(function(){
          $(this).attr('disabled','disabled');
          var value = $(this).siblings('span').html();
          value++;
          $(this).siblings('span').html(value);
        })

        $('#btn').click(function(){
          var value = $('textarea').val();
          // console.log(value);
          if(!value){
            // alert('内容不能为空!');
            $('.no-val').addClass('show');
            return false;
          }
        })

        var time = new Date();
        console.log(time);
        $('#da').val(time);

      })



    </script>
    <%- include head %>
  </head>
  <body>
    <%- include nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">

          <h3 style="word-wrap:break-word; word-break:normal;"><%=doc.user_quiz %></h3>

          <div >发布人: <%=doc.user_id %> &nbsp; 关键字: <span style="color:#8755f2;"><%=doc.user_label %></span> </div>
          <div>发布时间: <%= moment(doc.user_time).zone(-16).format('YYYY-MM-DD') %> &nbsp; <%=  moment(doc.user_time).zone(-16).format('HH:mm:ss') %></div>

        </div>
      </div><p></p>

      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <div >
          <form class="" action="/show-xq" method="post">
            <input type="hidden" name="user_id" value=<%=doc._id %> >
            <input type="hidden" name="users_id" value=<%= name %> >
            <input type="hidden" name="time" id="da" >

            <textarea style="width:100%; max-width:749px;"  name="content" rows="8" cols="30" maxlength="100"></textarea><br>
            <div class="no-val" style="color:red;">内容不能为空!!!</div>
            <button type="submit" id="btn">回复</button>
          </form>
          </div>
          </div>
      </div><p class="form"></p>

      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12">
          <% result.forEach(function(e){ %>
            <div class="list">
              <li><%= e.users_id %></li>
              <li class="li-width"><%= e.content %></li><br>
              <li class="u-time">回复时间:<%= moment(e.time).format('YYYY-MM-DD') %> <%=  moment(e.time).format('HH:mm:ss') %></li>
              <div class="button"><span><%= e.total %></span><button type="button" class="btn" ><i class="glyphicon glyphicon-thumbs-up" style="color:red;"></i></button></div>
            </div>
          <% })%>
        </div>
      </div>
    </div>

  </body>
</html>
