<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/show-xq.css">
    <script src="/javascripts/jquery-3.0.0.min.js" charset="utf-8"></script>
    <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/bootstrap.min.js"></script>
    <link href="https://cdn.bootcss.com/font-awesome-animation/0.0.10/font-awesome-animation.min.css" rel="stylesheet">
    <!-- <script src="/javascripts/socket.io.slim.js"></script> -->

    <!--[if lt IE 9]>
      <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.slim.js"></script>
    <script type="text/javascript">




      $(function(){



        $('#btn').click(function(){
          var value = $('textarea').val();
          if(!value){
            $('.no-val').addClass('show');
            return false;
          }
        })

      })

    </script>
    <%- include head %>
    <style media="screen">
      .container{
        margin-top: 50px;
      }
      body{
        padding: 0;
      }
    </style>
  </head>
  <body>

    <%- include nav %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
          <br>
          <p>标题: <%=doc.user_tip %></p>
          <h3 style="word-wrap:break-word; word-break:normal;font-size:20px;"><%=doc.user_quiz %></h3>

          <div ><span style="font-size:10px;">发布人: <%=doc.user_id %></span> &nbsp; 标签: <span style="color:#8755f2;"><%=doc.user_label %></span> </div>
          <div style="font-size:10px;">发布时间: <%= moment(doc.user_time).utcOffset(-16).format('YYYY-MM-DD HH:mm:ss') %> </div>

        </div>
      </div><p></p>

      <p class="form"></p>

      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
          <% result.forEach(function(e){ %>
            <div class="list">
              <li style="font-size:10px;">回答人:<%= e.users_id %></li>
              <li class="li-width"><%= e.content %></li><br>
              <li class="u-time">回复时间:<%= moment(e.time).utcOffset(-16).format('YYYY-MM-DD HH:mm:ss') %> </li>
              <div class="button">

                  <input  type="hidden" value=<%= e._id %>>
                  <span id="total"><%= e.total %></span>
                  <button type="button" class="dianzan" class="btn btn-default" style="background:white;border:none;padding:2px; top:0;" ><i class="glyphicon glyphicon-thumbs-up faa-bounce animated-hover"   style="color:red;font-size:22px;"></i></button>

              </div>
            </div>
          <% })%>
        </div>
      </div>

      <p class="form"></p>

      <div class="row">
        <div class="col-md-8 col-sm-12 col-xs-12 col-md-offset-2">
          <%  if(name){%>
              <div >
              <form class="" action="/show-xq" method="post">
                <input  type="hidden" name="user_id" value=<%=doc._id %> >
                <input type="hidden" name="users_id" value=<%= name %> >


                <textarea style="width:100%; max-width:749px;border: 1px solid #ddd;"  name="content" rows="8" cols="30" ></textarea><br>
                <div class="no-val" style="color:red;">内容不能为空!!!</div>
                <button type="submit" id="btn">回复</button>
              </form>
              </div>
          <%  }else{%>
              <div class="text-center">
                回答问题 &nbsp; <a href="/login_cg">请登录</a> &nbsp; <a href="/input_cg">注册</a>
              </div>
          <%  }%>

          </div>
      </div><p class="form"></p>

    </div>
<div style="width:100%;background-color:#555;height:100px;margin:0;ppadding:0;">
<%- include footer %>
</div>

<script type="text/javascript">
var io=io();
// var total = document.querySelector('#total');
// var dian = document.querySelector('.dianzan');
// io.on('value',function(data){
//   console.log(1111111,total.innerHTML);
//   console.log(22222222,data.data.data);
//   total.innerHTML = 2;
// });
// dian.onclick = function(){
//   // console.log('onclick');
//   var val = total.innerHTML;
//   io.emit('dianzan',{data:Number(val)});
//   this.onclick = null;
// }
$('.dianzan').click(function(){
  var name = $('input[name=users_id]').val();
  if(!name){
    alert('请登录!再点赞');
  }else{


  var val = $(this).siblings('span').html();
  var id = $(this).siblings('input').val();
  val++;
  console.log(val, id);
  $(this).siblings('span').html(val);
  $(this).attr('disabled','disabled');
  io.emit('dianzan',{val:Number(val),id: id,name: name});
  }
})
</script>

  </body>
</html>
